<%- include("partials/header.ejs") %>

    <div class="w-full p-5 md:p-8">
        <div class="flex flex-col md:flex-row justify-between  items-start md:items-center min-h-12 mt-4">
            <img src="/logo.png" class="max-h-[80px] mb-2 md:mb-0" />
            <% if (showEditForm) { %>
                <% if (isPrivate) { %>
                    <form method="post">
                        <input type="hidden" name="action" value="make_public" />
                        <button
                            class="w-[90vw] md:w-fit inline-block px-8 py-2 bg-teal-600 text-white font-medium text-base shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-teal-800 active:shadow-lg transition duration-150 ease-in-out rounded-full"
                            type="submit">Make it public</button>
                    </form>
                <% } else { %>
                    <form method="post">
                        <input type="hidden" name="action" value="make_private" />
                        <button
                            class="w-[90vw] md:w-fit inline-block px-8 py-2 bg-teal-600 text-white font-medium text-base shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-teal-800 active:shadow-lg transition duration-150 ease-in-out rounded-full"
                            type="submit">Make it private</button>
                    </form>
                <% } %>
                <% } else { %>
                    <div></div>
                <% } %>
        </div>

        <% if (showEditForm) { %>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="action" value="submit_content" />

                <div class="flex flex-col md:flex-row gap-4 items-center p-3 border border-sky-100 rounded-md mt-4">
                    <div class="flex flex-row gap-2 md:gap-4 w-[85vw]  md:w-1/3 items-center">
                        <p>Content Type : </p>
                        <div class="flex items-center">
                            <input id="default-radio-1" type="radio" value="text" name="content_type"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                onchange="toggleUploadField()">
                            <label for="default-radio-1"
                                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Text</label>
                        </div>
                        <div class="flex items-center">
                            <input checked id="default-radio-2" type="radio" value="doc" name="content_type"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                onchange="toggleUploadField()">
                            <label for="default-radio-2"
                                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Other Docs</label>
                        </div>
                        <div class="flex items-center">
                            <input checked id="default-radio-2" type="radio" value="image" name="content_type"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                onchange="toggleUploadField()">
                            <label for="default-radio-2"
                                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Image</label>
                        </div>
                    </div>
                    <input type="text" id="text_content_block"
                        class="max-w-[85vw] max-w-1/3 w-[85vw] md:w-1/3 mt-1 block rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                        placeholder="Enter some text" name="text_content" />
                    <input type="file" id="image_upload_block"
                        class="max-w-[85vw] max-w-1/3 w-[85vw]md:w-1/3 mt-1 block rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                        placeholder="Upload Image" name="image_content" accept="image/*" />
                    <input type="file" id="document_upload_block"
                        class="max-w-[85vw] max-w-1/3 w-[85vw]md:w-1/3 mt-1 block rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                        placeholder="Upload Image" name="image_content" accept="image/*" />
                    <button
                        class="w-[85vw] md:w-fit inline-block px-8 py-2 bg-teal-600 text-white font-medium text-base shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-teal-800 active:shadow-lg transition duration-150 ease-in-out rounded-md"
                        type="submit">Submit</button>
                </div>



            </form>
            <% } else { %>
                <% } %>

    </div>

    <div class="flex flex-row flex-wrap items-center gap-5 p-5 md:p-10">
        <% content.forEach(e=>{ %>
            <div class="w-[40vw] h-[40vw]  md:w-[250px] md:h-[250px] border border-sky-200 rounded-md overflow-hidden">
                <%if (e.isImage) { %>
                    <img src="/<%= user.username %>/<%= name %>/<%= e.id %>"  />
                <% } else { %>
                    <p class="p-1"><%= e.text %></p>
                <% } %>
            </div>
        <% }) %>
    </div>

    <a href="/<%= user.username %>/<%= name %>/downloadall" class="absolute w-[50px] h-[50px] rounded-full bottom-4 right-4 bg-teal-600 hover:bg-teal-500 cursor-pointer p-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={4} stroke="#fff" className="w-4 h-4">
            <path strokeLinecap="round" strokeLinejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m-6 3.75l3 3m0 0l3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75" />
        </svg>
    </a>

    <script>
        function toggleUploadField() {
            const contentType = document.querySelector('input[name="content_type"]:checked').value;
            const textContent = document.getElementById("text_content_block");
            const imageContent = document.getElementById("image_upload_block");
            const documentContent = document.getElementById("document_upload_block");

            if (contentType === 'text') {
                textContent.style.display = 'block';
                imageContent.style.display = 'none';
                documentContent.style.display = "none";
            } else if(contentType == "image") {
                textContent.style.display = 'none';
                imageContent.style.display = 'block';
                documentContent.style.display = "none";
            } else if(contentType == "doc"){
                documentContent.style.display = "block";
                textContent.style.display = 'none';
                imageContent.style.display = 'none';
            }
        }

        document.addEventListener("DOMContentLoaded", toggleUploadField);
    </script>

    <%- include("partials/footer.ejs") %>