<%- include("partials/header.ejs") %> 

<div class="w-full p-5 md:p-8">
    <div class="flex justify-between items-center h-12 mt-4">
        <img src="/logo.png" class="max-h-[80px]" />
        <% if (showForm) { %>
            <form class="flex" method="post">
                <input
                    type="text"
                    class="block w-full rounded-full rounded-r-none border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-3"
                    placeholder="Enter new repository name"
                    name="repo-name"
                    required
                />
                <button class="w-max rounded-full rounded-l-none px-9 py-2 bg-teal-600 text-white font-medium text-lg shadow-md uppercase" type="submit">Create</button>
            </form>
        <% } else { %>
            <div></div> 
        <% } %>

    </div>

    <!-- Repo list -->
    <div class="mt-6">        
        <% repos.forEach(repo => { %>
            <a href="/<%= username %>/<%= repo.name %>" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mt-4">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"><%= repo.name %></h5>
                <p class="font-normal text-base text-gray-700 dark:text-gray-400">
                    <% if (repo.isPrivate) { %>
                        Private Repo
                    <% } else { %>
                        Public Repo
                    <% } %>
                    &nbsp;•&nbsp;
                    <%= repo.contentCount %> items
                </p>
            </a>
        <% }) %>
    </div>
</div>


<%- include("partials/footer.ejs") %> 